VITE_NETWORK=testnet
VITE_CONTRACT_ID=
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_STELLAR_EXPERT_URL=https://stellar.expert/explorer/testnet
